html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
.topnav {
  background-color: #000;
  overflow: hidden;
}
/*.topnav a {
  color: #fff;
  display: block;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}*/
.navlink {
  color: #fff;
  display: block;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
/*.topnav a:hover {
  background-color: #ddd;
  color: black;
}*/
.navlink:hover {
  background-color: #ddd;
  color: black;
}
/*.topnav a.active {
  background-color: #fff;
  color: #000;
}*/
.navlink-active {
  background-color: #fff;
  color: #000;
}
.content-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 30px;
  padding-bottom: 20px;
}
.form-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}
.content-center {
  align-items: center;
  display: flex;
  text-align: center;
}
.form-center {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}
.article-center {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  text-align: center;
}
.profile-image {
  border-radius: 50% 50%;
  height: auto;
  margin-left: 200px;
  margin-right: 40px;
  width: 300px;
}
.content-text {
  /*margin-left: 20px;*/
  text-align: left;
}
.article-text {
  margin-left: 20px;
  text-align: left;
}
.article-text-special {
  margin-left: 20px;
  text-align: left;
}
.form-text {
  margin-left: 20px;
  text-align: left;
  width: 30%;
}
h1 {
  font-size: 44px;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 12px;
  text-align: center;
}
ul {
  line-height: 1.2;
  text-align: left;
}
p {
  font-size: 16px;
  text-align: left;
}
.job {
  line-height: 0.2;
  margin-bottom: 44px;
}
.skill {
  line-height: 0.2;
  margin-bottom: 44px;
}
.school {
  line-height: 0.2;
  margin-bottom: 44px;
}
.contact-info {
  line-height: 0.2;
  margin-bottom: 44px;
}
h2 {
  font-size: 17px;
  padding-bottom: 5px;
  text-align: left;
}
form {
  /*align-items: left;*/
  display: flex;
  flex-direction: column;
  text-align: left;
}
label {
  margin-bottom: 5px;
}
input {
  height: 35px;
  margin-bottom: 5px;
}
textarea {
  margin-bottom: 5px;
  resize: none none;
}
button {
  background-color: #000000;
  border: none;
  border-radius: 4px 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 8px 0;
  padding: 14px 20px;
  width: 100%;
}
.linkedin {
  margin-top: 60px;
  padding-bottom: 50px;
  text-align: center;
}
footer {
  background-color: black;
  bottom: 0;
  height: 40px;
  left: 0;
  position: fixed;
  width: 100%;
}
.container {
  align-items: center;
  text-align: center;
  width: 70%;
}

/* Media queries for adjusting margin as the screen size decreases */
@media screen and (max-width: 1200px) {
  .profile-image {
    margin-left: 150px;
    margin-right: 20px;
    margin-top: -100px;
  }
  .form-text {
    width: 50%;
  }
 .article-text {
   width: 70%;
 }
 .article-text-special {
   width: 60%;
 }
}

@media screen and (max-width: 1000px) {
  .profile-image {
    height: auto;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: -300px;
    width: 170px;
  }
  .page-heading {
    width: 100%;
  }
  .container {
    width: 70%;
  }
  .form-text {
    width: 50%;
  }
  .article-text {
    width: 70%;
  }
  .article-text-special {
    width: 60%;
  }
}
/*.topnav .icon {
  color: #fff;
  display: none;
}*/
.topnav .icon {
  color: #fff;
  display: none;
}

@media screen and (max-width: 700px) {
  /*.topnav a:not(.active) {display: none;}*/
  .navlink.responsive:not(.active) {display: none;}
  .topnav a.icon {
    color: #fff;
    display: block;
    float: right;
  }
  /*.topnav.active a.icon {
    color: #000;
  }*/
  /*.topnav.responsive {
    position: relative;
  }*/
  .responsive {
    position: relative;
  }
  /*.topnav.responsive .icon {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
  }*/
  .icon {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive-link {
    display: block;
    float: none;
    text-align: left;
  }
  .navlink-active {
    order: -1;
  }
  .content-section {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
  }
  .profile-image {
    height: auto;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: inherit;
    width: 300px;
  }
  .content-center {
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
    text-align: center;
  }
  .content-text {
    text-align: center;
  }
  .page-heading {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .form-text {
    width: 70%;
  }
  .article-text {
    width: 90%;
  }
  .article-text-special {
    width: 90%;
  }
}

/*@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    color: black;
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive-link {
    display: block;
    float: none;
    text-align: left;
  }
}*/
